hr {
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

button, input, select, textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

@import "lists";
@import "tables";
@import "buttons";
@import "fields";
@import "wp-fixes";
@import "icons";
@import "form";
@import "numbered_blurb";
@import "features";
@import "benefits";
@import "absolute_image";
@import "titles";
@import "quote_block";
@import "text_block";
@import "featured_case_studies";
@import "map";
@import "cta_section";
@import "fact_block";
@import "featured_home";
@import "contact_text";
@import "team_member";
@import "posts";
@import "service_header";
@import "google_maps";
@import "blog_categories";
@import "image_row";
@import "lightbox";
@import "carousel";
@import "datepicker";
@import "smugmug";
@import "scroll_next";
@import "check_list";
@import "content_block";
@import "content_block_hashtag";
@import "content_block_icon";
@import "landing_page_map";
@import "landing_quote";
@import "select";
@import "select_bordered";
@import "landing_page_navbar";
@import "landing_carousel";
@import "coming_soon";
@import "fixed_buttons";
@import "image_shadow";
@import "gif_frames";
@import "gif_facts";
@import "hero";
@import "hr";
@import "gif_mode";
@import "image_fade";
@import "smugmug";
@import "loading";
@import "spbp";
@import "spbp_slider";
@import "spbp_experiences";
@import "spbp_recent";
@import "spbp_options";
@import "spbp_gallery";
@import "spbl";
@import "spbl_slider";
@import "spbl_setup";
@import "spbl_sharing";
@import "spbl_features";
@import "spbl_gallery";
@import "spbl_deliverables";
@import "spbl_rentals";
@import "array13_banner";
@import "array13_section";
@import "array13_background";
@import "array13_icons";
@import "array13_gallery";
@import "array13_modal";
@import "image_animate";
@import "our_work";
@import "nprogress";
