#tagprints-smugmug{
    min-height: 400px;

    @extend section.small;
    .gallery-list{
    }
    .gallery-single{
        min-height: 400px;
        img{
            max-width: 100%;
            width: 100%;
            height: auto;
        }
        .gallery-image{
            overflow: hidden;
        }
    }

    .gallery-image,
    .gallery-list-item{
        @include transition(all $trans_time ease-in-out);
        @include opacity(0);
    }

    .gallery-image.show,
    .gallery-list-item.show{
        @include animation(zoomIn $trans_time);
        @include opacity(1);
    }

    .event-photos,
    .gallery-single,
    .gallery-list{
        max-width: 1024px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery-list-item{
        height: 280px;
        width: 325px;
        display: block;
        .content{
            padding: 10px 20px;
        }

        .title, .subtitle, .text{
            margin: 0px;
        }
        .title{
            font-weight: 700;
            font-size: 16px;
            line-height: 1.6;
            color: $color_2;
        }

        .preview{
            background-color: transparent;
            width: 100%;
            height: 75%;
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .image{
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }
        }

        .overlay{
            @include opacity(0);
            @include transition(all $trans_time);
            background-color: rgba($color_5, .8);
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 100;

            .btn{
                transform: rotateY(90deg);
                transform-origin: center;
                @include transition(all $trans_time);
            }

            .btn:hover{
                color: $color_white;
                border-color: $color_white;
            }
        }
    }

    .gallery-list-item:hover{
        .overlay{
            @include opacity(1);

            .btn{
                transform: rotateY(0deg);

            }
        }
        .coming-soon{
          @include opacity(1);
          transform: rotateY(0deg);
        }
    }
}

@media (max-width: $screen-sm-min){
    #items{
        margin-right: auto;
        margin-left: auto;
    }
    .gallery-list-item,
    .gallery-image{
        position: relative !important;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        top: 0px !important;
        left: 0px !important;
    }
    .gallery-image{
        margin-bottom: 15px;
    }
}
