<div class="array13-banner">
	<div class="container">
		<div class="array13-banner-inner">
			<div class="array13-banner-image">
				{% filter shortcodes %}
				[image id={{image}} center="true" size="array13-banner"]
				{% endfilter %}
			</div>
			<div class="array13-banner-content">
				<h1>{{text1}}</h1>
				<h3>
					<span class="array13-banner-accent">{{text2}}</span>
					<span>{{text3}}</span>
				</h3>
			</div>
		</div>
	</div>
</div>
