<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.04 72.37">
    <title>Social Sharing (1)</title>
    <path d="M362.81,171.85h-20.4a.62.62,0,0,0-.62.63v15.67a.62.62,0,0,0,.62.62h20.4a.62.62,0,0,0,.62-.62V172.47A.62.62,0,0,0,362.81,171.85Zm-.62,15.67H343V176.95h19.15Zm0-11.81H343v-2.61h19.15Z" transform="translate(-309.62 -169.32)" style="fill:#b47b61" />
    <path d="M366.48,175.52h-1.76a.63.63,0,0,0,0,1.25h1.14v2.61h-1.14a.62.62,0,0,0,0,1.25h1.14v3.89a.63.63,0,0,0,1.25,0v-8.37A.62.62,0,0,0,366.48,175.52Z" transform="translate(-309.62 -169.32)" style="fill:#b47b61" />
    <path d="M366.48,186a.63.63,0,0,0-.63.62v4.6H346.71v-1.11a.62.62,0,1,0-1.25,0v1.74a.62.62,0,0,0,.62.62h20.4a.62.62,0,0,0,.62-.62v-5.22A.62.62,0,0,0,366.48,186Z" transform="translate(-309.62 -169.32)" style="fill:#b47b61" />
    <path d="M343.87,173.83a.63.63,0,0,0-.24.77.62.62,0,1,0,.24-.77Z" transform="translate(-309.62 -169.32)" style="fill:#b47b61" />
    <path d="M347.53,173.83a.63.63,0,0,0-.24.77.62.62,0,1,0,.24-.77Z" transform="translate(-309.62 -169.32)" style="fill:#b47b61" />
    <path d="M345.7,173.83a.64.64,0,0,0-.24.77.63.63,0,0,0,.64.38.62.62,0,0,0,.53-.44A.63.63,0,0,0,345.7,173.83Z" transform="translate(-309.62 -169.32)" style="fill:#b47b61" />
    <path d="M358.42,173.74H349.9a.62.62,0,0,0,0,1.25h8.52a.62.62,0,0,0,0-1.25Z" transform="translate(-309.62 -169.32)" style="fill:#b47b61" />
    <path d="M370.57,169.32H338.33a3.06,3.06,0,0,0-3.05,3.05v4.43a.63.63,0,0,0,1.25,0v-4.43a1.81,1.81,0,0,1,1.8-1.8h32.24a1.81,1.81,0,0,1,1.8,1.8v21.3h-3.91a.62.62,0,1,0,0,1.25h3.91v1.14a1.81,1.81,0,0,1-1.8,1.8H338.33a1.81,1.81,0,0,1-1.8-1.8v-1.14h29.86a.62.62,0,0,0,0-1.25H336.53V178.89a.62.62,0,1,0-1.25,0v17.17a3.06,3.06,0,0,0,3.05,3.05H349l-1.53,3.59h-3a.62.62,0,1,0,0,1.25h19.92a.62.62,0,1,0,0-1.25h-3l-1.53-3.59h10.69a3.06,3.06,0,0,0,3.05-3.05V172.37A3.06,3.06,0,0,0,370.57,169.32Zm-10.52,33.38H348.84l1.06-2.5H359Z" transform="translate(-309.62 -169.32)" style="fill:#fff" />
    <path d="M355,195.9a.62.62,0,0,0-.67-.26.62.62,0,1,0,.6,1A.63.63,0,0,0,355,195.9Z" transform="translate(-309.62 -169.32)" style="fill:#fff" />
    <text transform="translate(0 57.7)" style="font-size:9.940799713134766px;fill:#fff;font-family:Gotham-Medium, Gotham">SOCIAL SHARING
        <tspan x="16.36" y="11.93">MICR</tspan>
        <tspan x="42.67" y="11.93" style="letter-spacing:-0.004911891035837234em">O</tspan>
        <tspan x="51.07" y="11.93">SITE</tspan>
    </text>
</svg>
