<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.18 68.92">
    <defs>
        <pattern id="New_Pattern_Swatch_1" data-name="New Pattern Swatch 1" width="118" height="118" patternTransform="translate(240.58 216.08) scale(1.29)" patternUnits="userSpaceOnUse" viewBox="0 0 118 118">
            <rect width="118" height="118" style="fill:none" />
            <rect width="118" height="118" style="fill:#b47b61" />
        </pattern>
        <pattern id="New_Pattern_Swatch_1-5" data-name="New Pattern Swatch 1" width="118" height="118" patternTransform="translate(-139.98 -49.41) scale(1.29)" patternUnits="userSpaceOnUse" viewBox="0 0 118 118">
            <rect width="118" height="118" style="fill:none" />
            <rect width="118" height="118" style="fill:#b47b61" />
        </pattern>
    </defs>
    <title>180</title>
    <text transform="translate(11 66.19)" style="font-size:9.940799713134766px;fill:#fff;font-family:Gotham-Medium, Gotham">180°</text>
    <path d="M400.65,266.78a18.8,18.8,0,0,0-13.29,32.09l-.91.91a20.09,20.09,0,0,1,14.21-34.29" transform="translate(-380.56 -265.49)" style="fill:url(#New_Pattern_Swatch_1)" />
    <path d="M400.65,265.49a20,20,0,0,1,14.21,5.88l-.91.91a18.68,18.68,0,0,0-13.29-5.51" transform="translate(-380.56 -265.49)" style="fill:url(#New_Pattern_Swatch_1)" />
    <path d="M414.84,272.94a.64.64,0,0,1-.47-.2l-.43-.45a.65.65,0,0,1,.91-.91l.46.48a.64.64,0,0,1-.47,1.09Z" transform="translate(-380.56 -265.49)" style="fill:#fff" />
    <path d="M400.73,305.67H400a.65.65,0,0,1-.63-.67.63.63,0,0,1,.67-.62h1.23a.67.67,0,0,1,.67.62.65.65,0,0,1-.62.67Zm-3.23-.25h-.1c-.43-.07-.86-.16-1.29-.25a.65.65,0,0,1,.29-1.26c.4.09.8.17,1.21.24a.64.64,0,0,1-.1,1.28Zm6.33,0a.64.64,0,0,1-.1-1.28c.4-.07.81-.15,1.2-.24a.65.65,0,1,1,.29,1.26q-.64.15-1.29.26Zm-10-1a.71.71,0,0,1-.23,0c-.41-.15-.82-.32-1.22-.5a.65.65,0,0,1,.53-1.18q.56.25,1.13.47a.65.65,0,0,1-.22,1.25Zm13.69,0a.65.65,0,0,1-.23-1.25c.38-.14.76-.3,1.14-.47a.65.65,0,1,1,.53,1.17c-.4.18-.81.35-1.21.5A.62.62,0,0,1,407.51,304.42Zm-17.11-1.67a.64.64,0,0,1-.34-.1c-.37-.23-.74-.47-1.09-.73a.64.64,0,1,1,.75-1c.34.24.68.47,1,.68a.65.65,0,0,1-.34,1.19Zm20.53,0a.65.65,0,0,1-.34-1.19c.35-.22.69-.44,1-.69a.65.65,0,0,1,.75,1q-.53.38-1.09.73A.64.64,0,0,1,410.93,302.73Zm3-2.32a.65.65,0,0,1-.44-1.12l.43-.42.44-.45a.65.65,0,1,1,.94.88l-.46.48-.47.45A.64.64,0,0,1,413.95,300.41Zm2.51-2.86a.65.65,0,0,1-.53-1c.24-.33.47-.68.68-1a.65.65,0,1,1,1.09.69c-.23.37-.47.73-.73,1.09A.64.64,0,0,1,416.46,297.54Zm1.9-3.3a.64.64,0,0,1-.59-.91c.17-.38.33-.75.47-1.14a.65.65,0,0,1,1.21.46q-.23.61-.5,1.21A.65.65,0,0,1,418.36,294.25Zm1.22-3.61-.15,0a.65.65,0,0,1-.48-.78c.09-.4.17-.8.24-1.2a.65.65,0,0,1,.74-.53.64.64,0,0,1,.53.74q-.11.65-.26,1.29A.65.65,0,0,1,419.58,290.64Zm.5-3.78h0a.65.65,0,0,1-.63-.66q0-.31,0-.62c0-.21,0-.41,0-.62a.65.65,0,0,1,.63-.67.64.64,0,0,1,.66.63c0,.22,0,.44,0,.65s0,.44,0,.66A.64.64,0,0,1,420.08,286.86Zm-.25-3.8a.64.64,0,0,1-.64-.54c-.07-.4-.14-.81-.24-1.2a.65.65,0,1,1,1.26-.29c.1.43.18.86.25,1.29a.65.65,0,0,1-.53.74Zm-1-3.68a.64.64,0,0,1-.6-.42c-.14-.38-.3-.76-.47-1.14a.65.65,0,1,1,1.18-.53c.18.4.35.8.5,1.21a.64.64,0,0,1-.61.87ZM417.17,276a.65.65,0,0,1-.55-.3q-.32-.52-.68-1a.65.65,0,1,1,1-.75q.38.54.73,1.09a.65.65,0,0,1-.55,1Z" transform="translate(-380.56 -265.49)" style="fill:#fff" />
    <path d="M387.36,300.42a.65.65,0,0,1-.44-.17l-.48-.46a.65.65,0,1,1,.91-.91l.45.43a.65.65,0,0,1,0,.91A.64.64,0,0,1,387.36,300.42Z" transform="translate(-380.56 -265.49)" style="fill:#fff" />
    <polygon points="6.42 34.82 5.5 33.91 33.8 5.43 34.72 6.34 6.42 34.82" style="fill:url(#New_Pattern_Swatch_1-5)" />
</svg>
